section {
	display: grid;
	place-items: center;
	height: 100vh;
}

.img-container {
	width: 60vw;
	height: 40vw;
	position: relative;
}

.img-container .bar {
	z-index: 0;
	width: 30px;
	height: 100%;
	background: orange;
	position: absolute;
	/* left: -60px; */
	top: 0;
	left: 30px;
	transition: 0.5s ease;
}
.img-container .bar .inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	opacity: 0;
}
.img-container .bar .inner div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.img-container .bar .inner div p {
	transform: rotate(-90deg);
}
.img-container.anim .bar {
	animation: slideIn 1s forwards;
	animation-delay: 0.2s;
}

.img-container img {
	/* width: 100%; */
	height: 100%;
	object-fit: cover;
	z-index: 1;
	position: relative;
}

@keyframes slideIn {
	from {
		left: 30px;
	}
	to {
		left: -60px;
	}
}

@keyframes slideOut {
	from {
		left: -60px;
	}
	to {
		left: 30px;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
